Data
.DS_Store
node_modules
MIDI and Wav Handling/Guitars-Universal-V1.5.sf2
Python/MIDI and Wav Handling/Guitars-Universal-V1.5.sf2
.sf2
tf_venv
3_8_packages.txt
installed_packages.txt
Python/Model Training/JS (the newest model)/training_logs